.DS_Store
project/target
/project/boot
/project/plugins/project
dist
target
lib_managed/
src_managed/
test-output/
.idea
.idea_modules
.classpath
.project
.cache
.settings
*.log
_site
*.iml
/.sass-cache/
bin
.target
conf/secret.conf
