@(hostMappings: HostMappings, roleMappings: RoleMappings)

@main("Streams") {
  <label>Frequency</label>
  <select id="frequency-selection">
    <option selected disabled hidden value=''>select</option>
    @roleMappings.getServers("frequency").map { x => <option value="@hostMappings.getHost(x)">@x</option> }
  </select>
  <div><span id="per-sec"></span></div>

  <label>Source</label>
  <select id="source-selection">
    <option selected disabled hidden value=''>select</option>
    @roleMappings.getServers("source").map { x => <option value="@hostMappings.getHost(x)">@x</option> }
  </select>
  <div><canvas id="canvas"></canvas></div>
}
